* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    text-align: center;
    margin: 10px;
}

div > h4 {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    text-align: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

div:nth-of-type(1) h4 {
    background: #e5d198;
}

div:nth-of-type(2) h4 {
    background: #ff0000;
}

div:nth-of-type(3) h4 {
    background: #d59898;
}

div > p {
    margin: 20px 10px 10px;
}

/* Simple Responsive Framework. */
.row {
    width: 100%;
}
/********** Large devices only **********/
/*992px and above*/
@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
        border: 1px solid black;
        position: relative;
        margin: 1%;
        background: #666666;
    }
    .col-md-1 {
        width: 7.41%;
    }
    .col-md-2 {
        width: 14.82%;
    }
    .col-md-3 {
        width: 22.23%;
    }
    /*actually used*/
    /*3 column layout 1 + 2 + 2 + 1 = 6% for margins */
    /*100% - 6% = 94% / 12 * 4 = 31.33%*/
    .col-md-4 {
        width: 31.33%;
    }
    .col-md-5 {
        width: 37.05%;
    }
    .col-md-6 {
        width: 44.46%;
    }
    .col-md-7 {
        width: 51.87%;
    }
    .col-md-8 {
        width: 59.28%;
    }
    .col-md-9 {
        width: 66.69%;
    }
    .col-md-10 {
        width: 74.1%;
    }
    .col-md-11 {
        width: 81.51%;
    }
    .col-md-12 {
        width: 88.92%;
    }
}
/********** Medium devices only **********/
/*768px and 991px*/
@media (min-width: 768px) and (max-width: 991px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
        border: 1px solid black;
        position: relative;
        margin: 1%;
        background: #666666;
    }
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    /*actially used*/
    /*3 column layout margins 1 + 2 + 1 = 4%*/
    /*100% - 4% = 96% / 12 * 6 = 48%*/
    .col-sm-6 {
        width: 48%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 74.99%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    /*actially used*/
    /*1 column layout margins 1 + 1 = 2%*/
    /*100% - 2% = 98% */
    .col-sm-12 {
        width: 98%;
    }
}

/********** Medium devices only **********/
/*equal to or less than 767px*/
@media (max-width: 767px) {
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        float: left;
        border: 1px solid black;
        position: relative;
        margin: 1%;
        background: #666666;
    }
    .col-xs-1 {
        width: 8.33%;
    }
    .col-xs-2 {
        width: 16.66%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-4 {
        width: 33%;
    }
    .col-xs-5 {
        width: 41.66%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-7 {
        width: 58.33%;
    }
    .col-xs-8 {
        width: 66.66%;
    }
    .col-xs-9 {
        width: 74.99%;
    }
    .col-xs-10 {
        width: 83.33%;
    }
    .col-xs-11 {
        width: 91.66%;
    }
    /*actially used*/
    /*1 column layout margins 1 + 1 = 2%*/
    /*100% - 2% = 98%*/
    .col-xs-12 {
        width: 98%;
    }
}